<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/public/stylesheets/style.css'/>
    <link rel='stylesheet' href='/public/stylesheets/bootstrap.min.css'/>
    <script src="/public/javascripts/jquery.min.js"></script>
    <script src="/public/javascripts/bootstrap.min.js"></script>
</head>
<body>
<script>
    function get_data(arg){
        var page = 1;
        var keyword = $("#schname").val();
        $.ajax({
            url: "/prj001/search",
            type: "POST",
            dataType: "json",
            data:{
                "keyword": keyword,
                "page": page
            },
            success: function (data) {
                alert("Ajax原始返回数据: "+data["title"] +", "+data["curpage"]+ ", "+data["searchname"]);
                show_archives_detail(data);

            },
            error: function () {
                alert("检索失败");
            }
        });
    }

    function show_archives_detail(callback_data) {
        var workdata = callback_data;
        $("#myarchiveslist").empty();
        var html_code = "";
        for(var i in workdata["archives"]){
            var per_record = workdata["archives"][i];
            //alert(">>>name: "+per_record["name"]);
            html_code += '<tr><td>'+per_record.name+'</td><td>'+per_record.url +'</td><tr>';
        }
        $("#myarchiveslist").append(html_code);

        $("#page").empty();
        $("#page").append('<li></li>');
        $("#page li:first").before('<li><a href="#" class="delete_mark" ' +
            'onclick="go_to_page(this)" current_page_num="1">' + "&laquo;" + '</a></li>');
        for(var i=1; i<=Number(workdata.totalpagenumber);i++){
            var page_num = Number(i);
            if(Number(workdata.curpage) == page_num) {   // 说明是当前页，那么进行高亮显示，把class设置为active
                $("#page li:last").before('<li class="active" ><a href="#" class="delete_mark" ' +
                    'onclick="go_to_page(this)" current_page_num="' + page_num + '">' + page_num + '</a></li>');

            }else {    // 说明不是当前页，那么不进行高亮显示
                $("#page li:last").before('<li><a href="#" class="delete_mark" ' +
                    'onclick="go_to_page(this)" current_page_num="' + page_num + '">' + page_num + '</a></li>');
            }
        }
        $("#page li:last").after('<li><a href="#" class="delete_mark" ' +
            'onclick="go_to_page(this)" current_page_num="'+ Number(workdata.totalpagenumber) +'">' + "&raquo;" + '</a></li>');

    }

    function go_to_page(arg) {   // 获取指定页的内容
        var page = $(arg).attr('current_page_num');
        var keyword = $("#schname").val();
        alert(">>>click page number: "+page+", "+keyword);
        $.ajax({
            url:'/prj001/search',
            type:'post',
            dataType:'json',
            data:{
                "keyword": keyword,
                "page":page
            },
            success: function(data){
                console.log(data);
                show_archives_detail(data);
            },
            error: function(){
            }
        })
    }

</script>
<h1>流调项目一案例数据</h1>

<h3>Excel模板上传创建案例：</h3>

<form action="/prj001/file_upload" method="post" enctype="multipart/form-data">
    <input type="file" name="image" size="50"/>
    <br/>
    <input type="submit" value="提交"/>
</form>
<br/>

<div class="searchbox">
    <label>采集对象人员姓名：</label></li>
    <input type="text" id="schname" name="schname" value="<%=searchname%>"  class="text"/></li>
    <button  class="btn btn-info" type="button" id="searchBtn" onclick="get_data(this)">确定查询</button>
</div>

<% if (archives) { %>
<table class="table table-striped">
    <!--<caption>调查数据</caption>-->
    <thead>
    <tr>
        <th>姓名</th>
        <th>数据链接</th>
    </tr>
    </thead>
    <tbody id="myarchiveslist">
    <% archives.forEach(function(archive){ %>
    <tr>
        <td><%= archive.name %></td>
        <td><%= archive.url %></td>
    </tr>
    <% }) %>
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination" id="page">
        <% if (previouspage) { %>
        <li>
            <a href="?page=<%= previouspage %>" arial-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <% } %>

        <% for (var pg=1;pg<=totalpagenumber;pg++){ %>
        <% if (curpage == pg) { %>
        <li class="active"><a href="?page=<%= pg %>"><%= pg %></a></li>
        <% }else {%>
        <li><a href="?page=<%= pg %>"><%= pg %></a></li>
        <% } %>
        <% } %>

        <% if (nextpage) { %>
        <li>
            <a href="?page=<%= nextpage %>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <% } %>
    </ul>
</nav>
<% }else { %>
<div class="alert alert-warning">目前尚没有数据！</div>
<% } %>
</body>
</html>
