<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/public/stylesheets/style.css'/>
    <link rel='stylesheet' href='/public/stylesheets/bootstrap.min.css'/>
    <script src="/public/javascripts/jquery.min.js"></script>
    <script src="/public/javascripts/bootstrap.min.js"></script>
</head>
<body>
<script>
    function get_data(arg) {
        var page = 1;
        var keyword = $("#schname").val();
        var builturl = "/prj001/?page=" + page + "&keyword=" + keyword;
        $.ajax({
            url: builturl,
            type: "GET",
            /*dataType: "json",
            data:{
                "keyword": keyword,
                "page": page
            },*/
            success: function (data) {
                //alert("Ajax原始返回数据: "+data["title"] +", "+data["curpage"]+ ", "+data["searchname"]);
                //show_archives_detail(data);
                //var redirurl = '/prj001/?page=' + data["curpage"] + '&keyword='+data["searchname"];
                //window.location.href = redirurl;    //    请求成功后跳转到你的主页
            },
            error: function () {
                alert("检索失败");
            }
        });
    }

    function show_archives_detail(callback_data) {
        var workdata = callback_data;
        $("#myarchiveslist").empty();
        var html_code = "";
        for (var i in workdata["archives"]) {
            var per_record = workdata["archives"][i];
            //alert(">>>name: "+per_record["name"]);
            html_code += '<tr><td>' + per_record.name + '</td><td>' + per_record.age + '</td><td>' + per_record.url + '</td><tr>';
        }
        $("#myarchiveslist").append(html_code);

        $("#page").empty();
        $("#page").append('<li></li>');
        $("#page li:first").before('<li><a href="#" class="delete_mark" ' +
            'onclick="go_to_page(this)" current_page_num="' + Number(workdata.previouspage) + '">' + "&laquo;" + '</a></li>');
        for (var i = 1; i <= Number(workdata.totalpagenumber); i++) {
            var page_num = Number(i);
            if (Number(workdata.curpage) == page_num) {   // 说明是当前页，那么进行高亮显示，把class设置为active
                $("#page li:last").before('<li class="active" ><a href="#" class="delete_mark" ' +
                    'onclick="go_to_page(this)" current_page_num="' + page_num + '">' + page_num + '</a></li>');

            } else {    // 说明不是当前页，那么不进行高亮显示
                $("#page li:last").before('<li><a href="#" class="delete_mark" ' +
                    'onclick="go_to_page(this)" current_page_num="' + page_num + '">' + page_num + '</a></li>');
            }
        }
        $("#page li:last").after('<li><a href="#" class="delete_mark" ' +
            'onclick="go_to_page(this)" current_page_num="' + Number(workdata.nextpage) + '">' + "&raquo;" + '</a></li>');

    }

    function go_to_page(arg) {   // 获取指定页的内容
        var page = $(arg).attr('current_page_num');
        var keyword = $("#schname").val();
        alert(">>>click page number: " + page + ", " + keyword);
        $.ajax({
            url: '/prj001/search',
            type: 'post',
            dataType: 'json',
            data: {
                "keyword": keyword,
                "page": page
            },
            success: function (data) {
                console.log(data);
                show_archives_detail(data);
            },
            error: function () {
            }
        })
    }

</script>
<h1>流调项目一案例数据</h1>

<h3>Excel模板上传创建案例：</h3>

<form action="/prj001/file_upload" method="post" enctype="multipart/form-data">
    <input type="file" name="image" size="50"/>
    <br/>
    <input type="submit" value="提交"/>
</form>
<br/>

<div class="searchbox">
    <label>采集对象人员姓名：</label></li>
    <form role="form" method='get' action="/prj001/">
        <input type="text" id="keyword" name="keyword" value="<%= searchname %>" class="text"/></li>
        <button class="btn btn-info" type="submit" id="searchBtn">确定查询</button>
        <!--<button  class="btn btn-info" type="submit" id="searchBtn" onclick="get_data(this)">确定查询</button>-->
    </form>
</div>

<% if (archives) { %>
    <table class="table table-striped" id="archivetable">
        <!--<caption>调查数据</caption>-->
        <thead>
        <tr>
            <th>姓名</th>
            <th>年龄</th>
            <th>数据详情链接</th>
            <th>数据操作</th>
        </tr>
        </thead>
        <tbody id="myarchiveslist">
        <% archives.forEach(function(archive){ %>
            <tr>
                <td><%= archive.name %></td>
                <td><%= archive.age %></td>
                <td><%= archive.url %></td>
                <td>
                    <!-- 按钮触发模态框 -->
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal1"
                            onclick="basicinfo(this)" genurl="<%= archive.url %>" mensurl="<%= archive.menstruation %>">
                        基本信息
                    </button>
                    <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal2"
                            onclick="mensinfo(this)" genurl="<%= archive.url %>" mensurl="<%= archive.menstruation %>">
                        月经信息
                    </button>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        基本信息
                    </h4>
                </div>
                演示系统只更改年龄
                <div class="modal-body">
                    <ul>
                        <li>记录编号：<input type="text" name="serial" id="serial"/></li>
                        <li>医院：<input type="text" name="hospital" id="hospital"/></li>
                        <li>专家：<input type="text" name="expert" id="expert"/></li>
                        <li>姓名：<input type="text" name="patname" id="patname"/></li>
                        <li>年龄：<input type="text" name="age" id="age"/></li>
                        <li>民族：<input type="text" name="nation" id="nation"/></li>
                        <li>url：<input type="text" name="genurl" id="genurl" readonly="true"/></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="update1()">
                        提交更改
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        月经信息
                    </h4>
                </div>
                演示系统只更改初潮年龄
                <div class="modal-body">
                    <ul>
                        <li>初潮年龄：<input type="text" name="first_time" id="first_time"/></li>
                        <li>经期是否规律：<input type="text" name="cyclicity" id="cyclicity"/></li>
                        <li>月经出血情况：<input type="text" name="blood_cond" id="blood_cond"/></li>
                        <li>月经出血颜色：<input type="text" name="blood_color" id="blood_color"/></li>
                        <li>url：<input type="text" name="mensurl" id="mensurl" readonly="true"/></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="update2()">
                        提交更改
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <nav aria-label="Page navigation">
        <ul class="pagination" id="page">
            <% if (previouspage) { %>
                <li>
                    <a href="?page=<%= previouspage %>&keyword=<%=searchname %>" arial-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            <% } %>

            <% for (var pg = 1;pg <= totalpagenumber;pg++){ %>
                <% if (curpage == pg) { %>
                    <li class="active"><a href="?page=<%= pg %>&keyword=<%=searchname %>"><%= pg %></a></li>
                <% }else { %>
                    <li><a href="?page=<%= pg %>&keyword=<%=searchname %>"><%= pg %></a></li>
                <% } %>
            <% } %>

            <% if (nextpage) { %>
                <li>
                    <a href="?page=<%= nextpage %>&keyword=<%=searchname %>" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            <% } %>
        </ul>
    </nav>
<% }else { %>
    <div class="alert alert-warning">目前尚没有数据！</div>
<% } %>

<script>
    function basicinfo(obj) {
        var geninfourl = $(obj).attr("genurl");
        $.ajax({
            type: "post",
            url: "/prj001/geninfo",
            data: {
                geninfourl: geninfourl
            },
            dataType: 'json',
            success: function (result) {
                //alert("Ajax请求结果正确会到这里来处理！")
                var geninfoobj = JSON.parse(result);
                //向模态框中传值
                $('#serial').val(geninfoobj.serial);
                $('#hospital').val(geninfoobj.hospital);
                $('#expert').val(geninfoobj.expert);
                $('#patname').val(geninfoobj.name);
                $('#age').val(geninfoobj.age);
                $('#nation').val(geninfoobj.nation);
                $('#genurl').val(geninfoobj.url);
            },
            error: function () {
                alert("Ajax请求发生错误会到这里来处理！")
            }
        });
    }

    function mensinfo(obj) {
        var mensinfourl = $(obj).attr("mensurl");
        if (mensinfourl == null) {
            alert("准备录入月经信息")
        } else {
            $.ajax({
                type: "post",
                url: "/prj001/mensinfo",
                data: {
                    mensinfourl: mensinfourl
                },
                dataType: 'json',
                success: function (result) {
                    //alert("Ajax请求结果正确会到这里来处理！")
                    var mensinfoobj = JSON.parse(result);
                    //向模态框中传值
                    $('#first_time').val(mensinfoobj.first_time);
                    $('#cyclicity').val(mensinfoobj.cyclicity);
                    $('#blood_cond').val(mensinfoobj.blood_cond);
                    $('#blood_color').val(mensinfoobj.blood_color);
                    $('#mensurl').val(mensinfoobj.url);
                },
                error: function () {
                    alert("Ajax请求发生错误会到这里来处理！")
                }
            });
        }
    }
</script>
<script>
    function update1() {
        alert('准备更新基本数据，向后台API接口提交更新请求！');
        //获取模态框数据
        var serial = $('#serial').val();
        var hospital = $('#hospital').val();
        var expert = $('#expert').val();
        var patname = $('#patname').val();
        var age = $('#age').val();
        var nation = $('#nation').val();
        var genurl = $('#genurl').val();
        alert('从模态框提取的数据：\r\n姓名: ' + patname + ", 年龄: " + age);
        $.ajax({
            type: "post",
            url: "/prj001/geninfo_save",
            data: {
                serial: serial,
                hospital: hospital,
                expert: expert,
                patname: patname,
                age: age,
                nation: nation,
                genurl: genurl
            },
            dataType: 'json',
            success: function (result) {
                if (result.status == 1) {
                    alert("Ajax请求后台处理正确" + result.result);
                    window.location.href = '/prj001';
                } else {
                    alert("Ajax请求后台处理失败" + result.result);
                }
            },
            error: function (err) {
                alert("Ajax请求发生错误会到这里来处理！" + JSON.parse(err));
            }
        });
    }

    function update2() {
        alert('准备更新月经数据，向后台API接口提交更新请求！');
        //获取模态框数据
        var first_time = $('#first_time').val();
        var cyclicity = $('#cyclicity').val();
        var blood_cond = $('#blood_cond').val();
        var blood_color = $('#patname').val();
        var mensurl = $('#mensurl').val();

        if (mensurl == null) {
            alert("这是创建月经信息，目前暂不支持！");
            return;
        }

        alert('从模态框提取的数据：\r\n初潮年龄: ' + first_time + ", 出血情况: " + blood_cond);
        $.ajax({
            type: "post",
            url: "/prj001/mensinfo_save",
            data: {
                first_time: first_time,
                cyclicity: cyclicity,
                blood_cond: blood_cond,
                blood_color: blood_color,
                mensurl: mensurl
            },
            dataType: 'json',
            success: function (result) {
                if (result.status == 1) {
                    alert("Ajax请求后台处理正确" + result.result);
                    window.location.href = '/prj001';
                } else {
                    alert("Ajax请求后台处理失败" + result.result);
                }
            },
            error: function (err) {
                alert("Ajax请求发生错误会到这里来处理！" + JSON.parse(err));
            }
        });
    }
</script>
</body>
</html>
