<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/public/stylesheets/style.css'/>
    <link rel='stylesheet' href='/public/stylesheets/bootstrap.min.css'/>
    <script src="/public/javascripts/jquery.min.js"></script>
    <script src="/public/javascripts/bootstrap.min.js"></script>
</head>
<body>
<h1>流调项目一案例数据</h1>

<h3>Excel模板上传创建案例：</h3>

<form action="/prj001/file_upload" method="post" enctype="multipart/form-data">
    <input type="file" name="image" size="50"/>
    <br/>
    <input type="submit" value="提交"/>
</form>
<br/>

<% if (archives) { %>
<table class="table table-striped">
    <!--<caption>调查数据</caption>-->
    <thead>
    <tr>
        <th>姓名</th>
        <th>数据链接</th>
    </tr>
    </thead>
    <tbody id="myarchiveslist">
    <% archives.forEach(function(archive){ %>
    <tr>
        <td><%= archive.name %></td>
        <td><%= archive.url %></td>
    </tr>
    <% }) %>
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination">
        <% if (previouspage) { %>
        <li>
            <a href="?page=<%= previouspage %>" arial-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <% } %>

        <% for (var pg=1;pg<=totalpagenumber;pg++){ %>
        <% if (curpage == pg) { %>
        <li class="active"><a href="?page=<%= pg %>"><%= pg %></a></li>
        <% }else {%>
        <li><a href="?page=<%= pg %>"><%= pg %></a></li>
        <% } %>
        <% } %>

        <% if (nextpage) { %>
        <li>
            <a href="?page=<%= nextpage %>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <% } %>
    </ul>
</nav>
<% }else { %>
<div class="alert alert-warning">目前尚没有数据！</div>
<% } %>
</body>
</html>
